Controller/Controller-backups/Controller-2025-08-14_205452.zip
Controller/~Controller.kicad_pcb.lck
Controller/~Controller.kicad_sch.lck
Controller/Controller-backups/Controller-2025-08-14_211250.zip
Controller/Controller-backups/Controller-2025-08-15_063519.zip
Controller/fp-info-cache
Displaypanel/~Displaypanel.kicad_sch.lck
