Controller/Controller-backups/Controller-2025-08-14_205452.zip
Controller/~Controller.kicad_pcb.lck
Controller/~Controller.kicad_sch.lck
Controller/Controller-backups/Controller-2025-08-14_211250.zip
Controller/Controller-backups/Controller-2025-08-15_063519.zip
Controller/fp-info-cache
Displaypanel/~Displaypanel.kicad_sch.lck
/Displaypanel/Displaypanel-backups
/Controller/Controller-backups
Displaypanel/\#auto_saved_files\#
Displaypanel/_autosave-Displaypanel.kicad_sch
Controller/\#auto_saved_files\#
Controller/_autosave-Controller.kicad_pcb
Controller/_autosave-Controller.kicad_sch
Controller/~_autosave-Controller.kicad_pcb.lck
